In [21]:
import pandas as pd
import matplotlib as plt
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [22]:
data = pd.read_csv('penguins_lter.csv', delimiter=';')
data.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [26]:
def prediction(len_culmen, dep_culmen, len_flipper, body_mass, delta15, delta13):
    X = data.filter(['Culmen Length (mm)', 'Culmen Depth (mm)','Flipper Length (mm)','Body Mass (g)', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)'])
    #print(X)
    Y = data.filter(['Species'])
    #print(Y)
    
    X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.5)
    
    
    model = DecisionTreeClassifier()
    
    model.fit(X_train.values, Y_train.values)
    
    prediction =  model.predict([[len_culmen, dep_culmen, len_flipper, body_mass, delta15, delta13]])
    
    return prediction

In [27]:
#PAL0910;105;Gentoo penguin (Pygoscelis papua);Anvers;Biscoe;Adult, 1 Egg Stage;N24A1;Yes;12/1/09;47.3;13.8;216;4725;;8.25818;-26.23886;
# PAL0910;58;Chinstrap penguin (Pygoscelis antarctica);Anvers;Dream;Adult, 1 Egg Stage;N94A2;Yes;11/21/09;49.3;19.9;203;4050;MALE;9.88809;-24.59513;
len_cul = 47.3
dep_cul = 13.8
len_flip = 216
mass = 4725
delta15 = 8.25818
delta13 = -26.23886

prediction(len_cul, dep_cul, len_flip, mass, delta15, delta13)

array(['Gentoo penguin (Pygoscelis papua)'], dtype=object)

In [28]:
#PAL0910;58;Chinstrap penguin (Pygoscelis antarctica);Anvers;Dream;Adult, 1 Egg Stage;N94A2;Yes;11/21/09;49.3;19.9;203;4050;MALE;9.88809;-24.59513;
len_cul = 49.3
dep_cul = 19.9
len_flip = 203
mass = 4050
delta15 = 9.88809
delta13 = -24.59513
prediction(len_cul, dep_cul, len_flip, mass, delta15, delta13)

array(['Chinstrap penguin (Pygoscelis antarctica)'], dtype=object)